name: Ruff Action

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - '.github/workflows/workflows-release-ruff-action.yaml'
      - '.github/actions/ruff/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/workflows-release-ruff-action.yaml'
      - '.github/actions/ruff/**'

permissions:
  actions: read
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # Cancel early on pull requests if new commits are added
  # Don't cancel on release pushes
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  ruff-action:
    uses: SwanseaUniversityMedical/workflows/.github/workflows/pr-and-release-repo.yaml@v2.1.2-repo
    with:
      job-name: ruff-action
      comment-release: true
      release-tag-format: 'v${version}-ruff-action'
